@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");
@import url("https://fonts.cdnfonts.com/css/october-twilight");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Zeyada&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body {
  background-image: url(./assets/43731-O4130W.png);
} */
.coolBeans {
  border: 1px solid currentColor;
  color: rgb(255, 182, 46);
  background-color: transparent;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  /* transition: 0.2s transform ease-in-out;
  will-change: transform; */
  z-index: 0;
}

.coolBeans::after {
  background-color: rgb(255, 241, 222);
  /* border-radius: 3rem; */
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(60deg);
  transform-origin: top left;
  transition: 0.3s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.coolBeans:hover::after {
  transform: translate(0, 0);
}

.coolBeans:hover {
  border: 2px solid transparent;
  transform: scale(1.05);
  will-change: transform; /* This line is already correct. No need to change it. */
}

.menu {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  background-image: linear-gradient(rgb(255, 248, 236), rgb(255, 248, 236));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -1600px 90px;
  animation: backcolor 7s linear infinite;
}
@keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}
/* slider */
:root {
  --magnifier: 6;
  --gap: 1vmin;
  --transition: 0.5s;
}
.container {
  width: 80vw;
  height: 50vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.container img {
  --brightness: 100;
  --grayscale: 100px;
  transition: flex var(--transition), filter var(--transition);
  height: 400px;
  filter: grayscale(var(--grayscale)) brightness(var(--brightness));
  object-fit: cover;
  overflow: hidden;
  flex: 1;
}

.container img:hover {
  --brightness: 1.15;
  --grayscale: 0;
  flex: var(--magnifier);
}

/* cardddddddddddddddddddddddddddddddddddddddddddd */
.article-wrapper {
  width: 280px;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
  border-radius: 10px;
  padding: 5px;
  border: 4px solid transparent;
  cursor: pointer;
  background-color: white;
}

.article-wrapper:hover {
  -webkit-box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
  box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
  border-color: #0578c5;
  -webkit-transform: translate(-20px, -20px);
  -ms-transform: translate(-20px, -20px);
  transform: translate(-20px, -20px);
}

.article-wrapper:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.types {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: flex-start;
}

.rounded-lg {
  /* class tailwind */
  border-radius: 10px;
}

.article-wrapper:hover .project-hover {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #a6c2f0;
}

.project-info {
  padding-top: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.project-title {
  font-size: 2em;
  margin: 0;
  font-weight: 600;
  /* depend de la font */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* color: black; */
}

.flex-pr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-type {
  background: #b2b2fd;
  color: #1a41cd;
  font-weight: bold;
  padding: 0.3em 0.7em;
  border-radius: 15px;
  font-size: 14px;
  letter-spacing: -0.6px;
}

.project-hover {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 9px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* .container-project {
  width: 100%;
  height: 170px;
  background: gray;
} */
.selected {
  background-color: rgb(244, 101, 6);
}
/* searchhhhhhhh */
.input-container {
  width: 220px;
  position: relative;
}

.input-container .icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input-container .input {
  width: 100%;
  height: 40px;
  padding: 10px;
  transition: 0.2s linear;
  border: 2.5px solid white;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input-container .input:focus {
  outline: none;
  border: 0.5px solid white;
  box-shadow: -5px -5px 0px orange;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}
/* buttttommmm */
.buttom {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.buttom:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.buttom:active {
  transform: translateY(-1px);
}
/* static effect */
.static {
  padding: 9px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.static {
  background-color: rgb(30, 165, 30);
  box-shadow: 0px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.static:active {
  transform: translateY(-1px);
}
